.footerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 321px 13px 321px;
}

.footerLogo {
  width: 296px;
  height: 74px;
}

.footerCPRLogo {
  width: 172.05px;
  height: 74px;
}

.footerLogos {
  display: flex;
}

.footerLogos > div:first-child {
  margin-right: 32px;
}

.footerLinks {
  display: flex;
  font-size: 18px;
  user-select: none;
}

.footerLinks p:first-child {
  margin-right: 32px;
}

.footerBottom {
  background-color: black;
  padding: 13px 833px 13px 834px;
}

.footerBottom p {
  color: #fff;
  font-size: 12px;
  user-select: none;
}
