.purchase {
  display: flex;
}

.purchaseLeftImg {
  width: 944px;
  height: 717px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.purchaseDescr {
  background: #000;
  width: 977px;
}

.purchaseDescrWrapper {
  padding: 70px 320px 70px 35px;
}

.purchaseDescrWrapper h2 {
  color: #fff;
  font-size: 62px;
  margin-bottom: 25px;
  user-select: none;
}

.purchaseDescrWrapper h4 {
  color: #52bedc;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  user-select: none;
}

.purchaseDescrWrapper ul {
  margin-top: 17px;
  margin-bottom: 66px;
  user-select: none;
}

.purchaseDescrWrapper li {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.purchaseDescrWrapper li:last-child {
  margin-bottom: 0;
}

.disk::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-image: url("../../../pseudoElements/disk.png");
}

.code::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-image: url("../../../pseudoElements/wysiwyg.png");
}

.directory::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-image: url("../../../pseudoElements/collections.png");
}

.PCIcon {
  width: 62px;
  height: 35.188px;
  margin-right: 76px;
  margin-bottom: 47px;
}

.xBoxIcon {
  width: 178px;
  height: 35.188px;
  margin-bottom: 47px;
}

.stadiaIcon {
  width: 58px;
  height: 50.268px;
  margin-right: 83px;
}

.PSIcon {
  width: 168.001px;
  height: 35.188px;
}

.platformsIcons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 316px;
  margin-top: 25px;
}
